body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px; 
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-align: center;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
    color: #766357;
}

.tagline-container {
    height: 507px;
    background-color: #31647f;
    background-image: url("../img/mask.png"), url("../img/background-photo.jpg");
    background-position: bottom 0px center, center;
    background-repeat: no-repeat;
    background-size: 1200px 58px, 1200px 507px;
    text-align: center;
}

.description {
    width: 616px;
    color: #000000;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    padding-top: 23px;
}

.causes {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
}

.place-description {
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.place-description h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.services,
.feature-wrap {
    list-style: none;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
}

.services h3,
.features h3 {
    color: #000000;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.features {
    background-color: #eeeeee;
    text-align: center;
    font-weight: normal;
    padding: 7px 0;
}

.offer {
   text-align: center;
}

.offer-wrap {
    position: relative;
    padding: 0;
    margin: 0;
}

.offer-button {
    padding: 0;
    margin: 0;
    margin-top: 45px;
    position: relative;
}

.offer-form {
    position: absolute;
    z-index: 1;
    top: 86px;
    left: 315px;
    width: 460px;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    padding: 55px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateY(-35%);
                transform: translateY(-35%);
    }

    20% {
        -webkit-transform: translateY(-25%);
                transform: translateY(-25%);
    }

    30% {
        -webkit-transform: translateY(-20%);
                transform: translateY(-20%);
    }

    50% {
        -webkit-transform: translateY(-15%);
                transform: translateY(-15%);
    }

    70% {
        -webkit-transform: translateY(-10%);
                transform: translateY(-10%);
    }

    90% {
        -webkit-transform: translateY(-5%);
                transform: translateY(-5%);
    }

    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

@keyframes move {
    0% {
        -webkit-transform: translateY(-35%);
                transform: translateY(-35%);
    }

    20% {
        -webkit-transform: translateY(-25%);
                transform: translateY(-25%);
    }

    30% {
        -webkit-transform: translateY(-20%);
                transform: translateY(-20%);
    }

    50% {
        -webkit-transform: translateY(-15%);
                transform: translateY(-15%);
    }

    70% {
        -webkit-transform: translateY(-10%);
                transform: translateY(-10%);
    }

    90% {
        -webkit-transform: translateY(-5%);
                transform: translateY(-5%);
    }

    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

.form-show {
    display: block;
    -webkit-animation: move 0.7s;
            animation: move 0.7s;
    z-index: 2;
}

.offer h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
    padding-top: 22px;
}

.offer-text {
    font-weight: normal;
    margin-top: -3px;
    color: #333333;
}

.offer-item {
    margin: 0;
    margin-bottom: 30px;
    position: relative;
}

.offer-form input[type="text"] {
    font: inherit;
    background-color: #f2f2f2;
    margin-left: 20px;
    padding-left: 14px;
    padding-right: 30px;
    width: 346px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #f2f2f2;
    height: 38px;
}

.offer-form input[type="text"]::-webkit-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

.offer-form input[type="text"]:-ms-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

.offer-form input[type="text"]::-ms-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

.offer-form input[type="text"]::placeholder {
    color: #000000;
    text-transform: uppercase;
}

.offer-form input[type="text"]:hover {
    background-color: #f2f2f2;
}

.offer-form input[type="text"]:focus,
.offer-form input[type="text"]:active {
    background-color: transparent;
    border: 2px solid #f2f2f2;
}

.button-item {
    position: absolute;
    top: 6px;
    right: 9px;
    width: 21px;
    height: 22px;
    background: transparent;
    background-image: url("../img/calendar.svg");
    border: none;
}

.button-item:hover {
    background-image: url("../img/calendarhover.svg");
}

.button-item:active {
    background-image: url("../img/calendaractive.svg");
}

.offer-people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 458px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.people input[type="text"] {
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
    vertical-align: middle;
}

.people span label {
    padding-right: 43px;
}

.children span label {
    padding-right: 24px;
}

.button-regular {
    position: relative;
    border: none;
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #f2f2f2;
}

.button-regular::before,
.button-regular::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 14px;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
}

.button-increase::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.button-regular:hover::before,
.button-regular:hover::after,
.button-increase:hover::after {
    background-color: #000000;
}

.button-regular:active::before,
.button-regular:active::after,
.button-increase:active::after {
    background-color: #81b3d2;
}

.button {
    display: inline-block;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-search,
.button-find {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
}

.button-search {
    position: relative;
    background-color: #766357;
    padding: 30px 138px;
    z-index: 3;
}

.button-search:hover,
.button-book:hover {
    background-color: #604e43;
}

.button-search:active,
.button-book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.button-find {
    padding: 16px 196px;
    background-color: #81b3d2;
    margin-top: 53px;
}

.map-container {
    position: relative;
}

.iframe {
    position: absolute;
    bottom: 0;
}

.map {
    margin: 0;
}

.button-find:hover,
.social-button:hover,
.button-details:hover {
    background-color: #669ec0;
}

.button-find:active,
.social-button:active,
.button-details:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.social-button:hover path,
.social-button:focus path {
    fill: #ffffff;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
}

.social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 150px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #81b3d2;
    width: 48px;
    height: 46px;
}

.footer-copyright {
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
}

.footer-copyright span {
    margin-right: 8px;
    font-family: "PT Sans", Arial, regular;
}

.button-copyright {
    width: 115px;
    height: 41px;
}

.button-copyright path {
   fill: #231f20;
}

.button-copyright:focus path,
.button-copyright:hover path {
    fill: #81b3d2;
}

.button-copyright:active path {
    fill: #a9a9a9;
}

.filters {
    background-color:#677e90;
    background-image: url("../img/background-card.jpg");
    background-position: 0 -150px;
    background-size: 1200px 400px;
    background-repeat: no-repeat;
    color: #ffffff;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
}

.filter fieldset {
    border: none;
    padding: 0;
}

.filters legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter-option input[type="checkbox"]:hover {
    color: #ffffff;
}

.filter-button {
    display: block;
    margin: 0;
    margin-left: 86px;
    padding: 6px 33px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.sort-find {
    font-size: 21px;
    line-height: 26px;
}

.sort-block {
    list-style: none;
    margin-left: 13px;
}

.sort-title {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    margin-left: 48px;
}

.sort-block a {
    color: #cacaca;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sort-price a:active {
    color: #81b3d2;
}

.sort-price a {
    color: #81b3d2;
}

.sort-type a,
.sort-rating a {
    border-bottom: 1px dotted #81b3d2;
}

.sort-type a:hover,
.sort-rating a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sort-type a:active,
.sort-rating a:active {
    color: #000000;
    border: none;
}

.result-name {
    padding-top: 7px;
    margin-right: 31px;
}

.results li {
    list-style: none;
}

.result-card h3 {
    color: #000000;
}

.result-card-type,
.result-card-price,
.result-card-rating {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #333333;
}

.wrap-item-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
}

.wrap-item-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}

.result-card-type {
    width: 110px;
    margin-right: 5px;
}

.result-card-price {
    width: 142px;
}

.result-card-rating {
    background-color: #f2f2f2;
    padding: 0 11px;
}

.button-book {
    color: #ffffff;
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
    padding: 3px 17px;
}

.button-details {
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    padding: 3px 17px;
    margin-right: 5px;
}

.result-card {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.result-card:hover {
    color: #81b3d2;
}

.result-card:active {
    color: rgba(0, 0, 0, 0.3);
}

body,
html {
    background-color: #f2f2f2;
}

.container {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
}

.main-navigation {
    position: relative;
    padding: 15px 72px;
    margin: 0;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    width: 20%;
}

.site-navigation li:nth-child(1) {
    text-align: left;
    margin-right: 3%;
}

.site-navigation li:nth-child(2) {
    text-align: left;
    margin-right: 14%;
}

.site-navigation li:nth-child(3) {
    text-align: right;
    margin-left: 0;
}

.site-navigation li:nth-child(4) {
    text-align: right;
    margin-left: 3%;
}

.main-header-logo {
    width: 20%;
    height: 70px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0;
    z-index: 1;
}

.tagline-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1200px;
}

.tagline-container .welcome {
    width: 188px;
    height: 45px;
    margin-top: 77px;
    margin-bottom: 10px;
}

.tagline-container .gorgeous {
    width: 256px;
    height: 30px;
    margin-bottom: 53px;
}

.tagline-container .sedona {
    width: 459px;
    height: 78px;
    margin-bottom: 55px;
}

.wrapper {
    padding: 0;
    margin: 37px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.wrapper .causes {
    margin-top: 30px;
}

.places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}
 
.town {
    width: 400px;
    display: block;
    text-align: center;
    padding: 30px 44px;
}

.place-image {
    background-image: url("../img/town.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bridge {
    min-width: 400px;
    display: block;
    text-align: center;
    padding: 29px 0;
}

.place-bridge-image {
    background-image: url("../img/bridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.place-bridge-name {
    padding: 0 38px;
    margin-bottom: 24px;
}

.place-bridge-text {
    padding: 6px 46px;
    padding-bottom: 18px;
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.service {
    position: relative;
    text-align: center;
    width: 400px;
    padding-top: 138px;
    padding-bottom: 66px;
    padding-left: 50px;
    padding-right: 50px;
}

.service p {
    padding-top: 5px;
}

.service::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 164px;
    width: 75px;
    height: 81px;
}

.appartment::before {
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.food::before {
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.present::before {
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.feature {
    text-align: center;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 39px;
    padding-left: 60px;
    padding-right: 60px;
}

.feature h3 {
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 3px;
}

.feature p {
    padding-top: 6px;
}

.place-name {
    padding-left: 95px;
    padding-right: 95px;
    margin-bottom: 25px;
}

.place-text {
    padding: 0 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.filters {
    margin-bottom: 30px;
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 72px;
    padding-bottom: 5px;
    margin: 0;
}

.block-option {
    width: 241px;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}

.block-option ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-option {
    margin-bottom: 25px;
    padding-left: 40px;
    list-style: none;
}

.filter-option label {
    position: relative;
    display: block;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -41px;
    top: -3px;
    width: 27px;
    height: 27px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:focus + label::before {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox:disabled:checked + label::after {
    background-image: url("../img/checkbox-ondisabled.svg");
}

.filter-input-checkbox:disabled + label::after {
    background-image: url("../img/checkbox-offdisabled.svg");
}

.hotel-block {
    width: 288px;
    padding: 0;
    margin: 0;
    margin-right: auto;
}

.block-option legend {
    padding-top: 27px;
    padding-bottom: 27px;
}

.hotel-block legend {
   padding-left: 15px;
}

.hotel-block ul {
    padding-left: 15px;
}

.filter-wrap {
    width: 328px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slider-wrap {
    width: 318px;
}

.slider-title {
    margin-top: 27px;
    margin-bottom: 11px;
    padding-left: 2px;
    font-size: 16px;
    font-weight: bold;
}

.price-controls {
    position: relative;
    height: 31px;
    margin-bottom: 21px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 31px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 82px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    height: 25px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 30px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 72px;
    margin: 0;
    margin-bottom: 31px;
}

.sort div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sort-block {
    padding: 0;
    margin: 0;
    margin-left: 14px;
}

.sort-block li {
    display: inline;
    margin-left: 29px;
}

.arrows-wrap {
    margin-right: -12px;
}

.sort-arrows-up,
.sort-arrows-down {
    border: none;
    background: none;
    outline: none;
    margin-right: 12px;
    position: relative;
    width: 11px;
    height: 10px;
}

.sort-arrows-up::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 11px solid #a9a9a9;
}

.sort-arrows-down::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 11px solid #a9a9a9;
}

.sort-arrows-up:focus::after,
.sort-arrows-down:focus::after {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.sort-arrows-up:hover::after,
.sort-arrows-down:hover::after {
    border-color:  #000000 transparent;
}

.sort-arrows-up:active::after,
.sort-arrows-down:active::after {
    border-color: #81b3d2 transparent;
}

.arrows-current::after {
    border-color: #81b3d2 transparent;
}

.results {
    margin-bottom: 10px;
    border-bottom: solid 2px #e5e5e5;
}

.results ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.results-wrap {
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: solid 1px #e5e5e5;
}

.results-left {
    width: 528px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.results-right {
    width: 241px;
    padding: 6px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.stars {
    margin-bottom: 49px;
    width: 110px;
    text-align: center;
    width: 85px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat: space;
}

.three {
    margin-bottom: 50px;
    text-align: center;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat: space;
    width: 65px;
}

.two {
    margin-bottom: 50px;
    text-align: center;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat: space;
    width: 41px;
}

.wrap-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 260px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 27px 0;
}

.hashtag {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social {
    width: 400px;
    text-align: center;
}

.footer-copyright {
    width: 400px;
    text-align: center;
}

.shadow {
    -webkit-box-shadow: 0 0 40px 2px #dbdbdb;
            box-shadow: 0 0 40px 2px #dbdbdb;
}







